// Body
$body-bg: #f2f2f2;

// Typography
$font-primary: "Univers", sans-serif;
$font-secondary: "Arimo", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@mixin globalfontstyle( $weight, $stretch, $style, $spacing )
{
  font-weight: $weight;
	font-stretch: $stretch;
	font-style: $style;
	letter-spacing: $spacing;
}
