html,
body { background: #f9f9f9; font-family: $font-primary; }
.navbarlang {
  background: #f9f9f9;
  height: 30px;
  padding: 10px;
  ul {
    li {
      a {
        color: #666666;
        font-family: $font-primary;
        font-size: 11px;
        @include globalfontstyle(bold, normal, normal, 0.4px);
        &:hover {
          //background: linear-gradient(97deg, #da068c, #982e7e)  !important;
          color: #da068c;
        }
      }
    }
    .lang {
      .lang_active {
        span {
          padding: 5px 20px 5px 20px;
          border-radius: 30px;
          background: linear-gradient(97deg, #da068c, #982e7e)  !important;
          color: #ffffff;
        }
      }
    }
  }
}
.navbar {
  background: #ffffff;
  ul {
    li {
      a {
        color: #666666;
        font-family: $font-primary;
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
        @include globalfontstyle(bold, normal, normal, 0.4px);
        &:hover {
          //background: linear-gradient(97deg, #da068c, #982e7e)  !important;
          color: #da068c;
        }
      }
    }
    .lang {
      .lang_active {
        span {
          padding: 5px 20px 5px 20px;
          border-radius: 30px;
          background: linear-gradient(97deg, #da068c, #982e7e)  !important;
          color: #ffffff;
        }
      }
    }
    .navbar-divider {
      border-right: 1px solid #eeeeee;
    }
  }
  .uk-logo {
    .logo-nav {
      width: 130px;
    }
  }
  .naviicon_mobile {
    color: #777777;
    padding-left: 30px;
    padding-right: 30px;
    &:hover, &:focus {
      color: #555555;
    }
  }
}
// homepage customer
.headerhmpg-cust {
  background: #ffffff;
  z-index: 9999;
  .navbarhmpg-cust {
    img { width: 120px; }
  }
  .navhmpg-cust {
    li {
      a {
        color: #666666;
        font-family: $font-primary;
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
        @include globalfontstyle(bold, normal, normal, 0.4px);
        &:hover {
          //background: linear-gradient(97deg, #da068c, #982e7e)  !important;
          color: #da068c;
        }
      }
    }
  }
}
.banner-hmpg-customer {
  color: #ffffff;
  .banner-hmpg-overlay {
    background: rgba(0,0,0,0.4666);
  }
  .banner-icon-customer {
    font-size: 72px;
  }
  .welcome-customer-name {
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.4px);
  }

  @media screen and(min-width: 320px)
  {
    //background: #f2f2f2;
    background: linear-gradient(97deg, #da068c, #982e7e)  !important;
    box-shadow: none;
    .banner-icon-customer {
      color: #f2f2f2;
      font-size: 48px;
      margin-top: -8px;
    }
    .welcome-customer-name {
      font-size: 21px;
      color: #f2f2f2;
      padding-left: 10px;
    }
    .mobile-customer-id {
      color: #f2f2f2;
      font-size: 14px;
      padding-left: 10px;
      font-family: $font-primary;
      @include globalfontstyle(normal, normal, normal, 0.4px);
    }
  }
  @media screen and(min-width: 640px)
  {
    height: 360px;
    background: none !important;
    border-bottom: 0;
    .banner-icon-customer {
      margin-top: -2em;
      color: #f2f2f2;
      font-size: 56px;
    }
    .welcome-customer-name {
      font-size: 28px;
      color: #f2f2f2;
    }
    .desktop-customer-id {
      color: #f2f2f2;
      font-size: 18px;
      font-family: $font-primary;
      @include globalfontstyle(normal, normal, normal, 0.4px);
    }
  }
  @media screen and(min-width: 1024px)
  {
    .banner-icon-customer {
      color: #f2f2f2;
    }
    .welcome-customer-name {
      font-size: 28px;
      color: #f2f2f2;
    }
    .desktop-customer-id {
      color: #f2f2f2;
      font-size: 14px;
      font-family: $font-primary;
      @include globalfontstyle(normal, normal, normal, 0.4px);
    }
  }
}
.device-using {
  color: #555555;
}
.icon-device {
  color: #777777;
}
@media screen and(min-width: 320px)
{
  .device-using {
    font-size: 11px;
  }
  .icon-device {
    font-size: 48px;
    margin-top: -30px;
  }
}
@media screen and(min-width: 360px)
{
  .device-using {
    font-size: 13px;
  }
  .icon-device {
    font-size: 48px;
    margin-top: -26px;
  }
}
// homepage customer

.container-listdevice {
  padding: 0;
  background: #f9f9f9;
  .heading-listdevice {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.4px);
  }
  .card-listdevice {
    .card-labeldevice {
      font-size: 12px;
      font-family: $font-primary;
      @include globalfontstyle(normal, normal, normal, 0.4px);
      padding-left: 10px;
    }
    .card-sublabel {
      font-size: 14px;
      font-family: $font-primary;
      @include globalfontstyle(normal, normal, normal, 0.4px);
      padding-left: 10px;
    }
  }
  .tile-icon-device {
    .icon-device {
      font-size: 52px;
      margin-top: 6px;
      padding: 10px;
    }
    .android { color: #a4c639 !important; }
    .ios { color: #777777 !important; }
    .laptop { color: #01a0ff !important; }
  }
  .btn-delete-device {
    border: 0;
    border-radius: 30px;
    background: linear-gradient(97deg, #da068c, #982e7e) !important;
    color: #ffffff;
    font-size: 10px !important;
    text-transform: capitalize;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.4px);
    margin-left: 5px;
  }
}

.container {
  margin-top: -4.5em;
  //background: linear-gradient(97deg, #da068c, #982e7e)  !important;
  .container-box {
    //background: linear-gradient(97deg, #da068c, #982e7e)  !important;
    background: #f2f2f2;
    box-shadow: none;
  }
  .container-heading {
    font-size: 25px !important;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.4px);
    text-align: center;
    color: #555555;
  }
  .card-devices {
    .card-device-box {
      border-radius: 6px;
      background: #ffffff;
    }
    .card-icon-device {
      font-size: 64px !important;
      text-align: center;
      //.android { color: #a4c639; }
      //.ios { color: #777777; }
      //.laptop { color: #01a0ff; }
    }

    .card-identity-mac {
      color: #666666;
      font-family: $font-primary;
      @include globalfontstyle(normal, normal, normal, 0.4px);
      text-align: center;
      margin-top: 20px;
      text-transform: uppercase;
    }
    .card-device-info {
      margin-top: 10px;
      .device-info-lead {
        color: #666666;
        font-family: $font-primary;
        @include globalfontstyle(normal, normal, normal, 0.4px);
        text-align: center;
      }
      .device-last-login {
        color: #666666;
        font-family: $font-primary;
        @include globalfontstyle(normal, normal, normal, 0.4px);
        text-align: center;
      }
    }

    @media screen and(min-width: 768px)
    {
      .card-identity-mac { font-size: 14px !important; }
      .card-device-info {
        .device-info-lead {font-size: 12px !important; }
        .device-last-login { font-size: 12px !important; }
      }
    }
    /*@media screen and(min-width: 800px)
    {
      .card-identity-mac { font-size: 16px !important; }
      .card-device-info {
        .device-info-lead {font-size: 16px !important; }
        .device-last-login { font-size: 14px !important; }
      }
    }*/

    @media screen and(min-width: 1024px)
    {
      .card-identity-mac { font-size: 17px !important; }
      .card-device-info {
        .device-info-lead {font-size: 15px !important; }
        .device-last-login { font-size: 15px !important; }
      }
    }

    @media screen and(min-width: 1280px)
    {
      .card-identity-mac { font-size: 14px !important; }
      .card-device-info {
        .device-info-lead {font-size: 12px !important; }
        .device-last-login { font-size: 12px !important; }
      }
    }
    .card-android .android { color: #a4c649; }
    .card-ios .ios { color: #666666; }
    .card-laptop .laptop { color: #01a0ff; }

    .btn-delete-device {
      border: 0;
      border-radius: 30px;
      margin-top: 20px;
      margin-bottom: -10px;
      color: #333333;
      background: #f0f0f0;
      font-size: 12px !important;
      text-transform: capitalize;
      font-family: $font-primary;
      @include globalfontstyle(normal, normal, normal, 0.4px);
    }
    .delete-android {
      &:hover, &:focus {
        background: linear-gradient(97deg, #a4c649, #8fad3c) !important;
        color: #ffffff;
      }
    }
    .delete-laptop {
      &:hover, &:focus {
        background: linear-gradient(97deg, #01a0ff, #00ccff) !important;
        color: #ffffff;
      }
    }
    .delete-ios {
      &:hover, &:focus {
        background: linear-gradient(97deg, #555555, #777777) !important;
        color: #ffffff;
      }
    }
  }
}

// biznetwifi login
.container-bzw-login {
  .card-bzw-login {
    border-radius: 4px;
  }
  .bzw-heading-login {
    font-size: 24px !important;
    text-transform: capitalize;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.4px);
    text-align: center;
    color: #333333;
    margin-bottom: 1.3333em;
  }
  .bzw-form-label {
    color: #666666;
    font-size: 13px !important;
    text-transform: capitalize;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.4px);
  }
  .bzw-form-login {
    height: 45px;
    border: 0;
    border-bottom: 1px solid #e9e9e9;
    color: #888888;
    font-size: 12px !important;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.4px);
  }
  .bzw-button-login {
    height: 45px;
    border-radius: 30px;
    border: 0;
    color: #ffffff;
    font-size: 12px !important;
    text-transform: capitalize;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.4px);
    background: linear-gradient(97deg, #da068c, #982e7e) !important;
  }
}
@media screen and(min-width: 320px)
{
  .bzw-content-login { background: linear-gradient(97deg, #da068c, #982e7e); }
  .bzw-bglogin { height: 40px; box-shadow: none; }
  .container-bzw-login { margin: 0; }
}
@media screen and(min-width: 360px)
{
  .bzw-content-login { background: linear-gradient(97deg, #da068c, #982e7e); }
  .bzw-bglogin { height: 60px; box-shadow: none; }
  .container-bzw-login { margin: 0; }
}
@media screen and(min-width: 375px)
{
  .bzw-content-login { background: linear-gradient(97deg, #da068c, #982e7e); }
  .bzw-bglogin { height: 110px; box-shadow: none; }
  .container-bzw-login { margin: 0; }
}
@media screen and(min-width: 768px)
{
  .bzw-content-login { background: #ffffff; }
  .bzw-bglogin {
    height: 320px;
    background: linear-gradient(97deg, #da068c, #982e7e) !important;
  }
  .container-bzw-login { margin-top: -17em; }
}
@media screen and(min-width: 800px)
{
  .bzw-content-login { background: #ffffff; }
  .bzw-bglogin {
    height: 320px;
    background: linear-gradient(97deg, #da068c, #982e7e) !important;
    box-shadow: 0 4px 8px #dddddd;
  }
  .container-bzw-login { margin-top: -16em; }
}

@media screen and(min-width: 800px)
{
  .bzw-content-login { background: #ffffff; }
  .bzw-bglogin {
    height: 320px;
    background: linear-gradient(97deg, #da068c, #982e7e) !important;
  }
  .container-bzw-login { margin-top: -16em; }
}
.copyright-login {
  font-size: 12px !important;
  font-family: $font-primary;
  @include globalfontstyle(bold, normal, normal, 0.4px);
}
// biznetwifi login

//footer
.footer {
  background: #252525;
  padding: 20px;
  color: #ffffff;
  .footer-container { margin-top: 20px; margin-bottom: 20px; }
  .footer-heading {
    font-size: 22px !important;
    font-family: $font-primary;
    @include globalfontstyle(bold, normal, normal, 0.8px);
    margin-bottom: 20px;
  }
  .footer-content {
    font-size: 13px !important;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.7px);
    margin-bottom: 20px;
    line-height: 1.8em;
    a {
      color: #ffffff;
      text-decoration: underline;
    }
  }
  .link-useful {
    .uk-nav-header {
      font-size: 13px !important;
      font-family: $font-primary;
      @include globalfontstyle(bold, normal, normal, 1px);
      color: #ffffff;
    }
    .uk-nav-divider { border-top: 1px solid #666666 !important; }
    li a {
      font-size: 13px;
      font-family: $font-primary;
      @include globalfontstyle(normal, normal, normal, 0.8px);
      color: #ffffff !important;
    }
  }
  .midplaza {
    .copyright, .part-midplaza {
      font-size: 12px;
      font-family: $font-primary;
      @include globalfontstyle(normal, normal, normal, 0.8px);
      color: #cccccc;
    }
    .part-midplaza a {
      color: #cccccc;
      text-decoration: underline;
    }
  }
  .social-media a {
    color: #aaaaaa;
    &:hover { color: #cccccc; }
  }
}
//footer
.coverbannerhomepage {
  height: 560px;
  .banner_ovlay_homepage {
    //background: linear-gradient(97deg, rgba(1,160,255,0.1), rgba(1,160,255,0.1), rgba(0,204,255,0.2), rgba(0,204,255,0.2)) !important;
    //background: linear-gradient(108deg, rgba(246, 161, 146, 0.1), rgba(246, 207, 146, 0.5), rgba(246, 176, 146, 0.3)) !important;
    background: linear-gradient(97deg, rgba(0,0,0,0.8), rgba(0,0,0,0.2));
  }
  .banner_ovlay_content {
    h1,h2,h3 {
      color: #ffffff;
      font-family: $font-primary;
      @include globalfontstyle(bold, normal, normal, 0.4px);
    }
    p {
      font-family: $font-primary;
      @include globalfontstyle(normal, normal, normal, 0.6px);
      color: #ffffff;
    }
  }
  @media screen and(min-width: 320px)
  {
    .banner_ovlay_content {
      padding: 2em;
      margin-top: 8.5em;
      h1,h2,h3 {
        font-size: 40px;
        text-align: center;
      }
      p {
        font-size: 12px;
        text-align: center;
      }
    }
  }
  @media screen and(min-width: 360px)
  {
    .banner_ovlay_content {
      padding: 2em;
      margin-top: 9.2em;
      h1,h2,h3 {
        font-size: 44px;
        text-align: center;
      }
      p {
        font-size: 14px;
        text-align: center;
      }
    }
  }
  @media screen and(min-width: 411px)
  {
    .banner_ovlay_content {
      padding: 2em;
      margin-top: 9.2em;
      h1,h2,h3 {
        font-size: 46px;
        text-align: center;
      }
      p {
        font-size: 15px;
        text-align: center;
      }
    }
  }
  @media screen and(min-width: 768px)
  {
    .banner_ovlay_content {
      padding: 3em;
      margin-top: 14em;
      h1,h2,h3 {
        font-size: 48px;
        text-align: left;
      }
      p {
        font-size: 16px;
        text-align: left;
      }
    }
  }
  @media screen and(min-width: 1280px)
  {
    .banner_ovlay_content {
      padding: 4em;
      margin-top: 13em;
      margin-right: 3em;
      h1,h2,h3 {
        font-size: 56px;
        text-align: left;
      }
      p {
        font-size: 18px;
        text-align: left;
      }
    }
  }
}

.section-banner-biznethome {
  .section-banner-context-right {
    color: #ffffff;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.6px);
    text-align: center;
    background: transparent;
    background: linear-gradient(97deg, #FF6724, #F35B25, #FC6119);
    h1 { color: #ffffff; }
    p { color: #ffffff; }
  }
  @media screen and(min-width: 320px)
  {
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 12px;
      padding-left: 1em;
      padding-right: 1em;
      text-align: center;
    }
  }
  @media screen and(min-width: 360px)
  {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 12px;
      padding-left: 0.5em;
      padding-right: 0.5em;
      text-align: center;
    }
  }
  @media screen and(min-width: 375px)
  {
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 12px;
      padding-left: 1em;
      padding-right: 1em;
      text-align: center;
    }
  }
  @media screen and(min-width: 411px)
  {
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 12px;
      padding-left: 1.5em;
      padding-right: 1.5em;
      text-align: center;
    }
  }
  @media screen and(min-width: 768px)
  {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 12px;
      padding-left: 2em;
      padding-right: 2em;
      text-align: center;
    }
  }
  @media screen and(min-width: 800px)
  {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 12px;
      padding-left: 3em;
      padding-right: 3em;
      text-align: center;
    }
  }
  @media screen and(min-width: 1024px)
  {
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 14px;
      padding-left: 4em;
      padding-right: 4em;
      text-align: center;
    }
  }
  @media screen and(min-width: 1280px)
  {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 16px;
      padding-left: 4em;
      padding-right: 4em;
      text-align: center;
    }
  }
}
.section-banner-biznetmetronet {
  .section-banner-context-right {
    color: #ffffff;
    font-size: 16px;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.6px);
    text-align: center;
    background: transparent;
    background: linear-gradient(97deg, #291B6E, #493D84);
    h1 { color: #ffffff; }
    p { color: #ffffff; }
    @media screen and(min-width: 320px)
    {
      h1 {
        font-size: 32px;
      }
      p {
        font-size: 12px;
        padding-left: 1.5em;
        padding-right: 1.5em;
        text-align: center;
      }
    }
    @media screen and(min-width: 360px)
    {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 12px;
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
      }
    }
    @media screen and(min-width: 375px)
    {
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 12px;
        padding-left: 1.7em;
        padding-right: 1.7em;
        text-align: center;
      }
    }
    @media screen and(min-width: 411px)
    {
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 12px;
        padding-left: 3em;
        padding-right: 3em;
        text-align: center;
      }
    }
    @media screen and(min-width: 768px)
    {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 12px;
        padding-left: 2.2em;
        padding-right: 2.2em;
        text-align: center;
      }
    }
    @media screen and(min-width: 800px)
    {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 12px;
        padding-left: 3em;
        padding-right: 3em;
        text-align: center;
      }
    }
    @media screen and(min-width: 1024px)
    {
      h1 {
        font-size: 32px;
      }
      p {
        font-size: 14px;
        padding-left: 3.5em;
        padding-right: 3.5em;
        text-align: center;
      }
    }
    @media screen and(min-width: 1280px)
    {
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 16px;
        padding-left: 4em;
        padding-right: 4em;
        text-align: center;
      }
    }
  }
}
.section-homepage-flashads {
  background: #f9f9f9;
  .flashads-contactads {
    color: #888888;
    font-size: 18px;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.6px);
    margin-bottom: 10px;
  }
  a {
    color: #1d8fce;
    font-size: 18px;
    font-family: $font-primary;
    @include globalfontstyle(normal, normal, normal, 0.6px);
  }
}
