@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900');

@font-face {
	font-family: 'Univers';
	src: local('Univers'), url('/works/portalwifi/public/fonts/univers/UniversLTStd.otf') format('opentype');
	src: local('Univers'), url('/works/portalwifi/public/fonts/univers/Univers-light-normal.ttf') format('truetype');
	src: local('Univers'), url('/works/portalwifi/public/fonts/univers/Univers.woff') format('woff');
}

/*bold font*/
@font-face {
	font-family: 'Univers';
	src: url('/works/portalwifi/public/fonts/univers/UniversLTStd-Bold.otf') format('opentype');
	src: url('/works/portalwifi/public/fonts/univers/UniversBlack.ttf') format('truetype');
	font-weight: bold;
}

// Typography
$font-primary: "Univers", sans-serif;
$font-secondary: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@mixin globalfontstyle( $weight, $stretch, $style, $spacing )
{
  font-weight: $weight;
	font-stretch: $stretch;
	font-style: $style;
	letter-spacing: $spacing;
}

.navbar {
  background: #ffffff;
  z-index: 9999;
	.logo-nav {
		width: 105px;
	}
	.navlang {
		li {
			a {
        color: #666666;
        font-family: $font-primary;
        font-size: 13px;
        @include globalfontstyle(bold, normal, normal, 0.4px);
        &:hover {
          //background: linear-gradient(97deg, #da068c, #982e7e)  !important;
          color: #da068c;
        }
      }

			.lang_active {
				span {
					padding: 5px 20px 5px 20px;
					border-radius: 30px;
					background: linear-gradient(97deg, #da068c, #982e7e)  !important;
					color: #ffffff;
				}
			}
		}
	}
}
.overlay {
  background: rgba(0,0,0,0.2);
}

.banner-heading {
  font-family: $font-primary;
  @include globalfontstyle(bold, normal, normal, 0.4px);
  color: #ffffff;
}
.banner-subheading {
  font-family: $font-primary;
  @include globalfontstyle(normal, normal, normal, 0.4px);
  color: #ffffff;
  margin-top: -8px;
}
.lead-banner {
  font-family: $font-primary;
  @include globalfontstyle(normal, normal, normal, 0.4px);
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 45px;
}

.login-connect {
  border-radius: 30px;
  border: 0;
  padding: 6px;
  font-size: 11px !important;
  font-family: $font-primary;
  @include globalfontstyle(normal, normal, normal, 0.4px);
	color: #ffffff;
	&:hover, &:active, &:focus { color: #ffffff; }
}
.login-visitor {
  border-radius: 30px;
  border: 0;
  background: linear-gradient(30deg, #01a0ff, #00ccff) !important;
  /*box-shadow: 2px 5px 8px rgba(0,0,0, 0.3);*/
  &:hover, &:active, &:focus {
    background: #01a0ff !important;
  }
}

.login-customer {
  border-radius: 30px;
  border: 0;
  background: linear-gradient(97deg, #da068c, #982e7e)  !important;
  /*box-shadow: 2px 5px 8px rgba(0,0,0, 0.3);*/
  &:hover, &:active, &:focus {
    background: #da068c !important;
  }
}

.padding-landingpage {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.modal-heading {
	font-family: $font-primary;
	@include globalfontstyle(normal, normal, normal, 0.4px);
}
.modal-subheading {
	font-family: $font-primary;
	@include globalfontstyle(normal, normal, normal, 0.4px);
}
@media screen and(min-width: 320px )
{
	.modal-heading { font-size: 21px !important; }
	.modal-subheading { font-size: 10px !important; }
}

@media screen and(min-width: 360px )
{
	.modal-heading { font-size: 24px !important; }
	.modal-subheading { font-size: 11px !important; }
}

@media screen and(min-width: 768px )
{
	.modal-heading { font-size: 28px !important; }
	.modal-subheading { font-size: 14px !important; }
}

@media screen and(min-width: 1024px )
{
	.modal-heading { font-size: 24px !important; }
	.modal-subheading { font-size: 12px !important; }
}

@media screen and(min-width: 1280px )
{
	.modal-heading { font-size: 32px !important; }
	.modal-subheading { font-size: 16px !important; }
}


@media screen and(min-width: 320px)
{
	.padding-landingpage { margin-top: 3em; }
	.banner-heading { font-size: 28px; }
	.banner-subheading { font-size: 12px; margin-top: 10px; }
	.lead-banner { font-size: 10px; }
	.login-customer, .login-visitor { font-size: 10px !important; }
}
@media screen and(min-width: 360px) {
	.padding-landingpage { margin-top: 1.5em; }
	.banner-heading { font-size: 34px; }
	.banner-subheading { font-size: 12px; margin-top: 10px; }
	.lead-banner { font-size: 12px; }
	.login-customer, .login-visitor { font-size: 10px !important; }
}

@media screen and(min-width: 414px)
{
	.padding-landingpage { margin-top: 0; }
	.banner-heading { font-size: 34px; }
	.banner-subheading { font-size: 13px; margin-top: 10px; }
	.lead-banner { font-size: 13px; }
	.login-customer, .login-visitor { font-size: 10px !important; }
}

@media screen and(min-width: 768px)
{
	.padding-landingpage { margin-top: 2em; }
	.banner-heading { font-size: 56px; }
	.banner-subheading { font-size: 18px; margin-top: 5px; }
	.lead-banner { font-size: 18px; }
	.login-customer, .login-visitor { font-size: 10px !important; }
}
