html {
  background: #f9f9f9;
}

// login layout
.login-container {
  box-shadow: none;
  .login-heading {
    color: $primary-color;
    font-family: $font-primary;
    @include globalfontstyle(600, normal, normal, 0.6px);
    text-align: center;
    font-size: 32px;
  }
}
// login layout

// administrator
.headertop {
  background: #ffffff;
  box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
  .navbarlogo { width: 150px; }
  .navbartop {
    li {
      a {
        color: #666666;
        font-family: $font-primary;
        @include globalfontstyle(600, normal, normal, 0.6px);
        font-size: 15px;
        text-transform: capitalize;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .subheadertop {
    background: #ffffff;
    border-top: 1px solid #eeeeee;
    .subnavbartop {
      li {
        a {
          color: #666666;
          font-family: $font-primary;
          @include globalfontstyle(600, normal, normal, 0.6px);
          font-size: 14px;
          text-transform: capitalize;
          &:hover {
            color: $primary-color;
          }
        }
        .subnav-active {
          color: $primary-color;
          border-bottom: 2px solid $primary-color;
        }
        .nav-active-border {
          border-top: 1px solid $primary-color;
        }
      }
    }
  }
}
.content-heading {
  color: #666666;
  font-family: $font-primary;
  @include globalfontstyle(600, normal, normal, 0.6px);
}
.content-data {
  .form-content-select {
    border: 1px solid #eeeeee;
    border-radius: 30px;
    color: #666666;
    font-family: $font-primary;
    @include globalfontstyle(400, normal, normal, 0.6px);
    font-size: 12px;
    &:hover, &:focus {
      border: 1px solid $primary-color;
      box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
    }
  }
  .form-content-input {
    border: 1px solid #eeeeee;
    border-radius: 30px;
    color: #666666;
    @include globalfontstyle(400, normal, normal, 0.6px);
    font-family: $font-primary;
    font-size: 12px;
    &:hover, &:focus {
      border: 1px solid $primary-color;
      box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
    }
  }
  .form-content-button {
    border: 1px solid #eeeeee;
    border-radius: 30px;
    color: #666666;
    @include globalfontstyle(600, normal, normal, 0.6px);
    font-family: $font-primary;
    font-size: 11px;
    background: #ffffff;
    text-transform: capitalize;
    &:hover, &:focus {
      border: 1px solid $primary-color;
      background: $primary-color;
      color: #ffffff;
      box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
    }
  }
  .form-content-dropdown {
    height: 200px;
    overflow: hidden;
    padding: 0;
    box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      overflow-y: scroll;
    }
    ul {
      li {
        a {
          color: #666666;
          @include globalfontstyle(400, normal, normal, 0.6px);
          font-family: $font-primary;
          font-size: 12px;
          padding: 8px 12px;
          &:hover, &:focus {
            border-left: 2px solid $primary-color;
            color: $primary-color;
          }
        }
        .form-content-dropdown-active {
          border-left: 2px solid $primary-color;
          color: $primary-color;
        }
      }
    }
  }
  .content-data-pagination {
    li {
      a {
        color: #666666;
        @include globalfontstyle(400, normal, normal, 0.6px);
        font-family: $font-primary;
        font-size: 12px !important;
        &:hover, &:focus {
          color: #333333;
        }
      }
    }
  }
  .table-overflow-content {}
  .table-data-content {
    thead {
      tr {
        th {
          color: #666666;
          @include globalfontstyle(600, normal, normal, 0.6px);
          font-family: $font-primary;
          font-size: 12px;
        }
      }
    }
    tbody {
      tr {
        td {
          color: #666666;
          @include globalfontstyle(400, normal, normal, 0.6px);
          font-family: $font-primary;
          font-size: 12px;
          .table-btn-action {
            text-decoration: none;
            border-radius: 4px !important;
            background: #ffffff;
            box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
            color: #666666;
            border: 1px solid #eeeeee;
            @include globalfontstyle(400, normal, normal, 0.6px);
            font-family: $font-primary;
            font-size: 12px;
            border-radius: 4px;
            text-align: center;
            &:hover {
              background: linear-gradient(97deg, $primary-color, $secondary-color);
              color: #ffffff;
              border: 1px solid $primary-color;
            }
          }
        }
      }
    }
  }
}
.content-data-modal {
  border-radius: 6px;
  box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
  h3 {
    color: #666666;
    font-family: $font-primary;
    @include globalfontstyle(600, normal, normal, 0.6px);
  }
  .form-modal-input,
  .form-modal-select {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    color: #666666;
    @include globalfontstyle(400, normal, normal, 0.6px);
    font-family: $font-primary;
    font-size: 12px;
    &:hover, &:focus {
      border: 1px solid $primary-color;
      box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
    }
  }
  .form-modal-button {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    color: #666666;
    @include globalfontstyle(600, normal, normal, 0.6px);
    font-family: $font-primary;
    font-size: 11px;
    background: #ffffff;
    text-transform: capitalize;
    &:hover, &:focus {
      border: 1px solid $primary-color;
      background: $primary-color;
      color: #ffffff;
      box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
    }
  }
}

// dashbaord
.dashboard-container {
  .subheading-dashboard {
    color: #888888;
    @include globalfontstyle(600, normal, normal, 0.6px);
    font-family: $font-primary;
    font-size: 16px;
  }
  .heading-dashboard {
    color: #444444;
    @include globalfontstyle(600, normal, normal, 0.6px);
    font-family: $font-primary;
    font-size: 24px;
  }
  .card-overview-device {
    text-align: center;
    box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 5px;
    &:hover {
      box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
    }
    .card-overview-device-icon {
      background: rgba(30, 136, 240, 0.1);
      color: #1e88f0;
      font-size: 26px;
      padding: 8px 15px;
      border-radius: 6px;
    }
    .card-overview-device-apple {
      background: rgba(51,51,51,0.1);
      color: #444444;
    }
    .card-overview-device-android {
      background: rgba(212, 225, 87, 0.1);
      color: #D4E157;
    }
    .card-overview-device-unknown {
      background: rgba(233, 30, 99, 0.1);
      color: #E91E63;
    }
    .card-overview-value {
      margin-top: 15px;
      font-size: 30px;
      color: #444444;
      @include globalfontstyle(600, normal, normal, 0.6px);
      font-family: $font-primary;
    }
    .card-overview-subvalue {
      color: #888888;
      @include globalfontstyle(600, normal, normal, 0.6px);
      font-family: $font-primary;
      font-size: 14px;
    }

    
  }
}
