@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,400i,600,700);.loginform {
  border: 0;
  border-bottom: 1px solid #dddddd;
  height: 60px;
  font-family: "Poppins", sans-serif;
  color: #666666;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
}

.loginform:hover,
.loginform:focus {
  color: #333333;
  border-bottom: 1px solid #982e7e;
}

.loginform::-webkit-input-placeholder {
  color: #aaaaaa;
}

.loginform::-ms-input-placeholder {
  color: #aaaaaa;
}

.loginform::placeholder {
  color: #aaaaaa;
}

.btnlogin {
  border: 0;
  background: linear-gradient(97deg, #da068c, #982e7e);
  border-radius: 30px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
}

html {
  background: #f9f9f9;
}

.login-container .login-heading {
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  text-align: center;
}

