@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);.loginform {
  border: 0;
  border-bottom: 1px solid #e9e9e9;
  font-family: "Raleway", sans-serif;
  color: #666666;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
}

.loginform:hover,
.loginform:focus {
  color: #da068c;
  border-bottom: 1px solid #da068c;
}

.loginform::-webkit-input-placeholder {
  color: #aaaaaa;
}

.loginform::-ms-input-placeholder {
  color: #aaaaaa;
}

.loginform::placeholder {
  color: #aaaaaa;
}

.btnlogin {
  border: 0;
  background: #da068c;
  border-radius: 30px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
}

.btnlogin:hover,
.btnlogin:focus {
  color: #ffffff;
  background: #da068c;
}

html {
  background: #ffffff;
}

.login-container {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login-container .login-heading {
  color: #da068c;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  text-align: center;
  font-size: 32px;
}

.navbarleft {
  background: linear-gradient(97deg, #da068c, #982e7e);
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.navbarleft .navbarlogo {
  width: 200px;
}

.navbarleft .navbarnav {
  border-top: 1px solid #982e7e;
}

.navbarleft .navbarnav li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-size: 13px;
  padding: 10px 20px;
}

.navbarleft .navbarnav li a:hover {
  background: #ffffff;
  color: #da068c;
}

.headertop {
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.headertop .navbartop li a {
  color: #666666;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-size: 13px;
  padding: 10px 20px;
  text-transform: capitalize;
}

.headertop .navbartop li a:hover {
  color: #da068c;
}

.content-heading {
  color: #666666;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
}

.content-data .form-content-select {
  border: 1px solid #eeeeee;
  border-radius: 30px;
  color: #666666;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-size: 12px;
}

.content-data .form-content-select:hover,
.content-data .form-content-select:focus {
  border: 1px solid #da068c;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.content-data .form-content-input {
  border: 1px solid #eeeeee;
  border-radius: 30px;
  color: #666666;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

.content-data .form-content-input:hover,
.content-data .form-content-input:focus {
  border: 1px solid #da068c;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.content-data .table-overflow-content {
  border-top: 1px solid #eeeeee;
}

.content-data .table-data-content thead tr th {
  color: #666666;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

.content-data .table-data-content tbody tr td {
  color: #666666;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

.content-data .table-data-content tbody tr td .table-btn-action {
  text-decoration: none;
  border-radius: 4px !important;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
  color: #666666;
  border: 1px solid #eeeeee;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  border-radius: 4px;
  text-align: center;
}

.content-data .table-data-content tbody tr td .table-btn-action:hover {
  background: linear-gradient(97deg, #da068c, #982e7e);
  color: #ffffff;
  border: 1px solid #da068c;
}

