@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800);.loginform {
  border: 0;
  border-bottom: 1px solid #e9e9e9;
  font-family: "Nunito Sans", sans-serif;
  color: #666666;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
}

.loginform:hover,
.loginform:focus {
  color: #da068c;
  border-bottom: 1px solid #da068c;
}

.loginform::-webkit-input-placeholder {
  color: #aaaaaa;
}

.loginform::-ms-input-placeholder {
  color: #aaaaaa;
}

.loginform::placeholder {
  color: #aaaaaa;
}

.btnlogin {
  border: 0;
  background: #da068c;
  border-radius: 30px;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
}

.btnlogin:hover,
.btnlogin:focus {
  color: #ffffff;
  background: #da068c;
}

html {
  background: #f9f9f9;
}

.login-container {
  border-radius: 4px;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.06);
}

.login-container .login-heading {
  color: #da068c;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  text-align: center;
  font-size: 32px;
}

.headertop {
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.headertop .navbarlogo {
  width: 150px;
}

.headertop .navbartop li a {
  color: #666666;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-size: 15px;
  text-transform: capitalize;
}

.headertop .navbartop li a:hover {
  color: #da068c;
}

.headertop .subheadertop {
  background: #ffffff;
  border-top: 1px solid #eeeeee;
}

.headertop .subheadertop .subnavbartop li a {
  color: #666666;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-size: 14px;
  text-transform: capitalize;
}

.headertop .subheadertop .subnavbartop li a:hover {
  color: #da068c;
}

.headertop .subheadertop .subnavbartop li .subnav-active {
  color: #da068c;
  border-bottom: 2px solid #da068c;
}

.headertop .subheadertop .subnavbartop li .nav-active-border {
  border-top: 1px solid #da068c;
}

.content-heading {
  color: #666666;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
}

.content-data .form-content-select {
  border: 1px solid #eeeeee;
  border-radius: 30px;
  color: #666666;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-size: 12px;
}

.content-data .form-content-select:hover,
.content-data .form-content-select:focus {
  border: 1px solid #da068c;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.content-data .form-content-input {
  border: 1px solid #eeeeee;
  border-radius: 30px;
  color: #666666;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
}

.content-data .form-content-input:hover,
.content-data .form-content-input:focus {
  border: 1px solid #da068c;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.content-data .form-content-button {
  border: 1px solid #eeeeee;
  border-radius: 30px;
  color: #666666;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  background: #ffffff;
  text-transform: capitalize;
}

.content-data .form-content-button:hover,
.content-data .form-content-button:focus {
  border: 1px solid #da068c;
  background: #da068c;
  color: #ffffff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.content-data .form-content-dropdown {
  height: 200px;
  overflow: hidden;
  padding: 0;
  -webkit-box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
}

.content-data .form-content-dropdown:hover {
  overflow-y: scroll;
}

.content-data .form-content-dropdown ul li a {
  color: #666666;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  padding: 8px 12px;
}

.content-data .form-content-dropdown ul li a:hover,
.content-data .form-content-dropdown ul li a:focus {
  border-left: 2px solid #da068c;
  color: #da068c;
}

.content-data .form-content-dropdown ul li .form-content-dropdown-active {
  border-left: 2px solid #da068c;
  color: #da068c;
}

.content-data .content-data-pagination li a {
  color: #666666;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px !important;
}

.content-data .content-data-pagination li a:hover,
.content-data .content-data-pagination li a:focus {
  color: #333333;
}

.content-data .table-data-content thead tr th {
  color: #666666;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
}

.content-data .table-data-content tbody tr td {
  color: #666666;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
}

.content-data .table-data-content tbody tr td .table-btn-action {
  text-decoration: none;
  border-radius: 4px !important;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
  color: #666666;
  border: 1px solid #eeeeee;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  border-radius: 4px;
  text-align: center;
}

.content-data .table-data-content tbody tr td .table-btn-action:hover {
  background: linear-gradient(97deg, #da068c, #982e7e);
  color: #ffffff;
  border: 1px solid #da068c;
}

.content-data-modal {
  border-radius: 6px;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.content-data-modal h3 {
  color: #666666;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
}

.content-data-modal .form-modal-input,
.content-data-modal .form-modal-select {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  color: #666666;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
}

.content-data-modal .form-modal-input:hover,
.content-data-modal .form-modal-input:focus,
.content-data-modal .form-modal-select:hover,
.content-data-modal .form-modal-select:focus {
  border: 1px solid #da068c;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.content-data-modal .form-modal-button {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  color: #666666;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  background: #ffffff;
  text-transform: capitalize;
}

.content-data-modal .form-modal-button:hover,
.content-data-modal .form-modal-button:focus {
  border: 1px solid #da068c;
  background: #da068c;
  color: #ffffff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.dashboard-container .subheading-dashboard {
  color: #888888;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

.dashboard-container .heading-dashboard {
  color: #444444;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
}

.dashboard-container .card-overview-device {
  text-align: center;
  -webkit-box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 5px;
}

.dashboard-container .card-overview-device:hover {
  -webkit-box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
}

.dashboard-container .card-overview-device .card-overview-device-icon {
  background: rgba(30, 136, 240, 0.1);
  color: #1e88f0;
  font-size: 26px;
  padding: 8px 15px;
  border-radius: 6px;
}

.dashboard-container .card-overview-device .card-overview-device-apple {
  background: rgba(51, 51, 51, 0.1);
  color: #444444;
}

.dashboard-container .card-overview-device .card-overview-device-android {
  background: rgba(212, 225, 87, 0.1);
  color: #D4E157;
}

.dashboard-container .card-overview-device .card-overview-device-unknown {
  background: rgba(233, 30, 99, 0.1);
  color: #E91E63;
}

.dashboard-container .card-overview-device .card-overview-value {
  margin-top: 15px;
  font-size: 30px;
  color: #444444;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
}

.dashboard-container .card-overview-device .card-overview-subvalue {
  color: #888888;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

.dashboard-container .card-overview-device .form-overview-button {
  border: 1px solid #eeeeee;
  border-radius: 30px;
  color: #666666;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  background: #ffffff;
  text-transform: capitalize;
}

.dashboard-container .card-overview-device .form-overview-button:hover,
.dashboard-container .card-overview-device .form-overview-button:focus {
  border: 1px solid #da068c;
  background: #da068c;
  color: #ffffff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.05);
}

.dashboard-container .card-overview-device .form-overview-dropdown {
  height: 200px;
  overflow: hidden;
  padding: 0;
  -webkit-box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
}

.dashboard-container .card-overview-device .form-overview-dropdown:hover {
  overflow-y: scroll;
}

.dashboard-container .card-overview-device .form-overview-dropdown ul li a {
  color: #666666;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  padding: 8px 12px;
}

.dashboard-container .card-overview-device .form-overview-dropdown ul li a:hover,
.dashboard-container .card-overview-device .form-overview-dropdown ul li a:focus {
  border-left: 2px solid #da068c;
  color: #da068c;
}

.dashboard-container .card-overview-device .form-overview-dropdown ul li .form-overview-dropdown-active {
  border-left: 2px solid #da068c;
  color: #da068c;
}

.modal-body-analytic {
  background: #f9f9f9;
}

